/* Widen the Mintlify footer text/links area */
footer.advanced-footer .text-sm {
  max-width: 1280px; /* increase from the default 984px */
  width: 100%;
  text-align: right; /* align text to the right */
}

#apiIndicatorBadge {
    position: sticky;
    display: flex;
    flex-direction: row-reverse;
    top: 120px;
    z-index:100;
    margin-top: -20px;
    margin-bottom: -50px;
}

#apiIndicatorBadge .inner {
    width: 50px;
    height: 50px;
}

#apiIndicatorBadge .inner.pymupdf {
    background: url(/images/pymupdf-logo.png) no-repeat center center;
    background-size: contain;
}

#apiIndicatorBadge .inner.dotnet {
    background: url(/images/dotnet-logo.png) no-repeat center center;
    background-size: contain;
}

